@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');
*{
    box-sizing: border-box;
}
body {
    background-color: #FFFFFF;
    font-family: 'Roboto', sans-serif;
}
header{
    width: 100%;
    height: 69px;
    position: fixed;
    top: 0;
    left: 0;
    background-color: #EC362D;
    font-size: 37px;
    font-weight: 700;
    color: #FFFFFF;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0 4px 4px #00000025;
}
.paginaQuiz{
    margin-top: 69px;
}
.bannerImg{
    width: 100%;
    height: 227px;
    filter: brightness(0.6);
}