@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

* {
    box-sizing: border-box;
}

body {
    background-color: #FAFAFA;
    font-family: 'Roboto', sans-serif;
}

header {
    width: 100%;
    height: 69px;

    position: fixed;
    top: 0;
    left: 0;

    display: flex;
    align-items: center;
    justify-content: center;

    font-size: 37px;
    font-weight: 700;

    background-color: #EC362D;
    color: #FFFFFF;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    z-index: 5;
}

h2 {
    font-size: 20px;
    font-weight: bold;
}

h1 {
    position: absolute;
    top: 94px;
    font-size: 39px;
    font-weight: 400;
    color: #FFFFFF;
}

input {
    width: 95%;
    height: 46px;

    font-size: 19px;

    padding-left: 15px;
    margin: 5px 0;

    border: 1px solid #BABABA;
    border-radius: 5px;
}

input::placeholder {
    font-style: italic;

    color: #BABABA;
}

input:focus {
    outline: none;
}

textarea {
    width: 95%;
    min-height: 46px;

    font-size: 19px;
    font-family: 'Roboto', sans-serif;

    padding: 10px 0 0 15px;
    margin: 5px 0;

    border: 1px solid #BABABA;
    border-radius: 5px;

    resize: vertical;
}

textarea::placeholder {
    font-style: italic;

    color: #BABABA;
}

textarea:focus {
    outline: none;
}

.escondido {
    display: none;
}

.questaoDiv {
    width: 759px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #FFFFFF;
    padding: 24px 36px;
    border-radius: 10px;
    margin-bottom: 48px;
}

.titulo {
    background-color: red;
    height: 138px;
    width: 668px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 23px;
    font-weight: 700;
    color: #FFFFFF;
    margin-bottom: 18px;
}

.respostasDiv {
    width: 668px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.resposta {
    display: flex;
    flex-direction: column;
    margin-bottom: 18px;
}

.imgResposta {
    width: 330px;
    height: 175px;
    margin-bottom: 20px;
}

.textoResposta {
    width: 330px;
    font-size: 20px;
    font-weight: 700;
    word-wrap: break-word;
}

.esbranquica {
    filter: opacity(0.3);
}

.verde {
    color: #009C22;
}

.vermelho {
    color: #FF4B4B;
}

.resultadoQuiz {
    width: 759px;
    height: 430px;
    background-color: #FFFFFF;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    margin-bottom: 48px;
}

.títuloResultado {
    background-color: #EC362D;
    width: 727px;
    height: 99px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 23px;
    font-weight: 700;
    color: #FFFFFF;
    margin-bottom: 18px;
}

.imgEDescricao {
    display: flex;
}

.imgResultado {
    width: 364px;
    height: 273px;
    margin-right: 21px;
}

.descricaoResultado {
    width: 328px;
    height: 273px;
    font-size: 19px;
    font-weight: 700;
    color: #484848;
    padding-top: 4px;
    word-wrap: break-word;
}

.botaoQuiz {
    width: 260px;
    height: 52px;
    border: none;
    border-radius: 15px;
    font-size: 21px;
    font-weight: 400;
    margin-bottom: 10px;
}

.botaoVermelho {
    background-color: #EC362D;
    color: #FAFAFA;
}

.botaoBranco {
    background-color: #ffffff00;
    color: #818181;
    margin-bottom: 30px;
}

.oculta {
    display: none;
}

.conteudo {
    width: 100%;

    margin-top: 69px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.banner {
    width: 100%;
    position: relative;
    display: flex;
    justify-content: center;
    margin-bottom: 42px;
}

.bannerImg {
    width: 100%;
    height: 227px;
    filter: brightness(0.6);
}

.container {
    width: 1050px;
    height: 100%;

    margin: 5vw auto 0 auto;

    display: flex;
    flex-direction: column;
    align-items: center;
}

.caixa-criar-quizz {
    width: 100%;
    height: 181px;

    border: 1px dashed #D4D4D4;
    border-radius: 5px;

    margin-bottom: 5vw;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    text-align: center;
}

.caixa-criar-quizz p {
    font-size: 20px;

    color: #B9B9B9;
}

.caixa-criar-quizz button {
    width: 151px;
    height: 40px;

    font-size: 21px;

    color: #EC362D;
    background-color: #FAFAFA;

    border: 1px dashed #EC362D;
    border-radius: 50px;
}

.todos-quizzes {
    width: 100%;
}

.seus-quizzes {
    width: 100%;

    position: relative;
}

.seus-quizzes ion-icon {
    font-size: 30px;

    color: #EC362D;

    position: absolute;
    top: -5px;
    left: 130px;
}

.quizzes {
    width: 100%;

    display: flex;
    flex-wrap: wrap;
}

.quizz {
    width: 340px;
    height: 181px;

    position: relative;

    margin: 5vw 5px 10px 5px;

    background: linear-gradient(180deg, rgba(255, 255, 255, 0) 0%, rgba(0, 0, 0, 0.5) 64.58%, #000000 100%);

    border-radius: 5px;
}

.quizz img {
    width: 100%;
    height: 100%;

    border-radius: 5px;

    position: absolute;
    top: 0;
    right: 0;
    z-index: -1;
}

.quizz p {
    font-size: 19px;

    color: white;

    position: absolute;
    bottom: 15px;
    left: 15px;
}

.caixa-criacao {
    width: 600px;

    background-color: #FFFFFF;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);

    margin-top: 30px;
    padding: 20px 0 20px 25px;

    position: relative;
}

.caixa-criacao h2 {
    margin: 1vw 0;
}

.caixa-criacao ion-icon {
    font-size: 25px;

    color: black;

    position: absolute;
    top: 30px;
    right: 30px;
}

.botao {
    width: 375px;
    height: 54px;

    font-size: 21px;

    background-color: #EC362D;
    color: #FFF5F4;

    border: none;
    border-radius: 15px;

    margin: 10vw 0;
}

.criacao-respostas-incorretas>div {
    margin-bottom: 30px;
}

@media (max-width: 1050px) {
    .container {
        width: 700px;
    }
}

@media (max-width: 700px) {
    .container {
        width: 340px;
    }

    .seus-quizzes ion-icon {
        left: 310px;
    }
}

@media (max-width: 600px) {
    input {
        font-size: 15px;
    }

    .caixa-criacao {
        width: 100vw;
    }

    .botao {
        width: 300px;
    }
}